Django==1.4.3
Fabric==1.5.3 # Really only used locally but i include them here anyway
Pillow==1.7.8 # An easier to install version of PIL
South==0.7.6 # Migrations! please use them
Unipath==0.2.1 # For nice path setup in settings
django-compressor==1.2 # (Pre-)compile your CSS and Javascript
psycopg2==2.4.6 # I use Postgres, not needed if you use MySQL or something else
raven==3.1.9 # I push all my error notifications to http://getsentry.com
git+git://github.com/Kronuz/pyScss.git#egg=pyScss # Switched to Sass, need the latest version for cli to work
easy-thumbnails==1.2 # you'll probably need something like this unless your site is text-only

