<!DOCTYPE html>
{% load compress %}
{% load url from future %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Your Sass based stylesheet -->
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}sass/main.scss" type="text/x-sass">
    {% endcompress %}

    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>

<header>
    [your logo here]

    <ul class="menu">
        <li><a href="#">home</a></li>
        <li><a href="#some-page">some-page</a></li>
    </ul>

</header>

<div id="fb-root"></div>

{% if messages %}
<div id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}

{% block content %}
{% endblock %}

<footer>
    Copyright bla bla
</footer>

<!--Scripts-->
{% compress js %}

{% endcompress %}

{% block javascript_footer %}
{% endblock %}

<!-- Facebook button code -->
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter button script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>